---
layout: default
---
{% for projects in site.projects %}
<div class="projects">
    <section>
        <div class="left">
            <div class="works">
                <div class="img_gp">
                    {% for img in projects.image_path %}
                        <img data-src='{{img}}'/>
                    {% endfor %}
                </div>
            </div>
            <div class="mobile"><img data-src='{{projects.mobile}}' src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/></div>
        </div>
        <div class="right">
            <h2 data-title="{{ projects.title }}"></h2>
            <div data-content="{{ projects.content }}"></div>
        </div>
    </section>
  </div>
{% endfor %}
