---
layout: default
---
{% for projects in site.projects %}
<div class="projects">
    <section>
        <div class="left">
            <div class="works">
                <div class="img_gp">
                    {% for img in projects.image_path %}
                        <img src='{{img}}'/>
                    {% endfor %}
                </div>
            </div>
            <div class="mobile"><img src='{{projects.mobile}}'/></div>
        </div>
        <div class="right"><h2>{{ projects.title }}</h2>{{ projects.content }}</div>
        <!-- <div class="img_area">
        	<
        </div>
        <div class="details">{{ projects.content }}</div> -->
    </section>
  </div>
{% endfor %}
